table { border-collapse: collapse; }
tr:first-child { border-bottom: 2px solid black; }
tr:nth-child(even) { background-color: #dddddd; }
th, td { padding: 10px 20px; }
label { display: block; margin: 10px 20px; }
.hidden { display: none; }
